.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #9b0644;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table{
  margin-bottom:3rem;
}

.App-link {
  color: #09d3ac;
}

.btn-primary {
  margin-left: 40px;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #42dca3;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

body, html {
  width: 100%;
  height: 100%;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}


.form-control {
  width: 70%;
}
.form-control1 {
  width: 70%;
}
.btn-primary_1{
  color:#fff;
  background-color:#007bff;
  border-color:#007bff;
  float: initial;
}
.btn-primary_2{
  color:#fff;
  margin-bottom: 10px;
  margin-right: 100px;
  background-color:#13021b;
  border-color:#13021b;
  float: initial;
}
.btn-primary_3{
  color:#fff;
  margin-bottom: 10px;
  margin-right: 100px;
  background-color:#633e2c;
  border-color:#633e2c;
  float: initial;
}
#add{
  float: left;
  margin-left: 20px;
  width: 240px;
  border-right: dashed;
  border-right-color: black ;
}

#add1{
  float: left;
  margin-left: 20px;
  padding-right: 20px;
  border-right: dashed;
  border-right-color: black ;
  
}

#buy{
  margin-left: 20px;
  float: right;
}
#buy1{
  padding-left: 250px;
 
  
}
#notsold{
  float: right;

}
#created{
  float: right;
  padding-left: 50px;
  
}
#all{
  float: right;
  padding-left: 50px;
  
}
#sold{
  float: right;
  padding-left: 20px;
  border-left-color: grey ;
  border-left: dashed;
  border-right-color: grey ;
  border-right: dashed;
  
}
#all{
  float: right;
  padding-left: 50px;
  border-right-color: grey ;
  border-right: dashed;
  
}
#lol{
  background: seashell;
  background-color: seashell;
}
#notsold{
  margin-top: 20px;
}
.jumbotron{
  text-align: center;
 
}
.jumbo{
  text-align: left;
  background-color: seashell;
  height: 250px;
}
.jumbo1{
  background-color: seashell;
}
.list-group-item.active{
  background-color: #633e2c;
  border-color:#633e2c;
}
.btn-link{
  color: black;
}
.accordion>.card>.card-header{
  text-align: center;
}
.card-body{
  text-align: left;
  
}
.body{
  text-align:left;
  width: 500px;
  padding-left: 0em;
  border: none;
}
.header{
  background-color:rgb(253, 240, 231);

}
.footer{
  background-color:rgb(253, 240, 231);
  text-align: left;
}
.btn-primary1{
  align-self:auto;
  color:#fff;
  color: rgb(209, 126, 66);
  background-color:rgb(255, 250, 247);
  border-color:rgb(196, 107, 44);
  width: 65px;
}
.btn-primary2{
  align-self:auto;
  color:#fff;
  color: rgb(209, 126, 66);
  background-color:rgb(255, 250, 247);
  border-color:rgb(196, 107, 44);
  width: 109px;
}
.jum{
  margin-top: 500px;
}
.jumo{
  margin-top: 30px;
}